body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eb8619;
    color: black;
    height: 100vh;
    margin: 0;
    padding: 20px;

}

img {
    width: 200px;
}

h1 {
    font-size: 35px;
    font-family: monospace;
    color: rgb(47, 211, 211);
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    margin: 20px;
    font-size: 20px;
    font-family: monospace;
}

#uno {
    width: 80px;
    height: 15px;
    
}

#dos {
    width: 80px;
    height: 15px;
}

#tres {
    width: 80px;
    height: 15px;
}

.ingreseMonto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#valor {
    font-size: 20px;
    border: 0;
    border-radius: 15px;
    background-color: rgb(47, 211, 211);
    text-align: right;
    cursor: pointer;
    padding: 5px 12px;
}

#cotizador {
    font-size: 20px;
    border: 0;
    border-radius: 15px;
    background-color: rgb(47, 211, 211);
    text-align: right;
}